/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

body {
  background: #ffffff;
}

.menu-container {
  background: black;
}

.button-container {
  transform: translateX(300%);
  transition-duration: 1s;
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 150px;
  gap: 20px;
  /*
  transform: translateY(-100%);
  */
}
.button-container .button {
  text-align: center;
  width: 178px;
  height: 41px;
  border-radius: 30px;
  border: 1px solid #000000;
  padding: 5px 10px;
  font-size: 15px;
  font-weight: 600;
  align-items: center;
  font-family: "Montserrat", serif;
}

.button {
  border-radius: 30px;
  border: 1px solid #000000;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: bold;
  font-family: "Montserrat", serif;
  justify-content: center;
  text-align: center;
  display: flex;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin: 15px 0;
  padding: 0 15px;
}
.header .logo-nav-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.image-container {
  width: 50px;
  height: 50px;
}
.image-container .image {
  object-fit: cover;
}

.list-group {
  transform: translateX(300%);
  transition-duration: 1s;
  position: absolute;
  top: 75px;
  flex-direction: row;
  gap: 10px;
}
.list-group li {
  font-family: "Montserrat", serif;
  font-size: 18px;
  font-weight: 600;
}
.list-group .selected {
  text-underline: black;
}

.bugger-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.bugger-menu .menu-text {
  font-family: "Montserrat", serif;
  margin-right: 5px;
}

.navbar-toggler {
  display: grid !important;
  height: min-content;
  cursor: pointer;
}
.navbar-toggler .bar {
  width: 40px;
  height: 5px;
  margin-bottom: 3px;
  background: #000000;
  border-radius: 10%;
  transition: -4s;
}

input {
  display: none;
}

.logo-nav-container input:checked ~ .list-group {
  transform: translateX(0%);
}

.logo-nav-container input:checked ~ .button-container {
  transform: translateX(0%);
}

@media (min-width: 810px) {
  .button-container {
    flex-direction: row;
  }
  .logo-nav-container {
    width: 100%;
    justify-content: space-between;
  }
  .button-container {
    display: flex;
    position: relative;
    transform: translateX(0);
    top: 0;
  }
  .bugger-menu .navbar-toggler .bar {
    display: none;
  }
  .menu-text {
    display: none;
  }
  .list-group {
    display: flex;
    position: relative;
    transform: translateX(0);
    top: 0;
  }
}

/*# sourceMappingURL=style.css.map */
