@import "libs/reset";
body{
  background: #ffffff;
}

.button-container{
  display: flex;
  gap: 20px;
  .button{
    text-align: center;
    width: 178px;
    height:41px;
    border-radius: 30px;
    border: 1px solid #000000;
    padding: 5px 10px;
    font-size: 15px;
    font-weight: 600;
    align-items: center;
    font-family: "Montserrat",serif;
  }
}
.button{
  border-radius: 30px;
  border: 1px solid #000000;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: bold;
  font-family: "Montserrat",serif;
  justify-content: center;
  text-align: center;
  display: flex;
}
.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin:45px 0;
  padding: 0 84px;
  .logo-nav-container{
    align-items: center;
    display: flex;
    flex-direction: row;
    gap:30px
  }
  }

.image-container {
  width: 69px;
  height: 69px;
  .image{
    object-fit: cover;
  }
}

.list-group{
  display: flex;
  flex-direction: row;
  gap: 10px;
  li{
    font-family: "Montserrat", serif;
    font-size: 18px;
    font-weight:600;



  }

  .selected{
    text-underline: black;
  }
}
